@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin: 10px 0px;
}

img {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* Navbar bölümü */

.main-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  opacity: 0.8;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  padding: 0 30px;
}

.main-header .navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.main-header .navbar a:hover {
  border-bottom: 2px solid var(--warning);
}

.main-header .navbar ul {
  display: flex;
}

.navbar .logo {
  font-size: 30px;
}

.navbar span {
  color: var(--warning);
}

.main-header {
  background-image: url("../img/bg-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  position: relative;
}

.main-header .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.main-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.main-header * {
  z-index: 5213;
}

.main-header .content h1 {
  font-size: 60px;
}

.main-header .content p {
  font-size: 20px;
  max-width: 600px;
  margin: 20px 0 30px;
}

/* Navbar bitiş  */

/* Section icon başlangıç */

.icons {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.icons div {
  border: 1px solid grey;
  padding: 10px;
  margin: 0px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.icons div:hover {
  transform: scale(1.1);
  background-color: rgb(27, 214, 152);
  color: white;
}

.icons i {
  font-size: 40px;
  margin: 10px 0;
  color: blue;
}

.icons p {
  font-size: 12px;
}

.icons h3 {
  font-size: 20px;
  text-shadow: 1px 2px 3px rgb(25, 83, 160);
}

/* Section icon bitiş */

/* about başlangıç */

.about {
  display: flex;
  background-color: #333;
  color: #fff;
}

.resim {
  order: -1;
  display: flex;
  flex: 50%;
  height: 300px;
}

.customer {
  padding: 10px;
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 10px;
}

/* about bitiş */

/* resimler bölümü başlangıç*/

.gallery {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.gallery h1,
p {
  margin-top: 10px;
}

.resimler img {
  height: 200px;
  width: 200px;
  padding: 14px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in;
}

.resimler img:hover {
  transform: scale(1.1);
}

/* resimler bölümü bitiş*/

/* about başlangıç */

.about2 {
  display: flex;
  background: var(--primary);
  color: #fff;
}

.about2 button {
  color: white;
  text-shadow: 1px 2px 3px black;
}

.resim2 {
  order: 1;
  display: flex;
  flex: 50%;
  height: 300px;
}

.customer2 {
  padding: 10px;
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 10px;
}

/* about bitiş */

/* odalar başlangıç */
.room {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.room h1 {
  margin-top: 30px;
}

.rooms {
  display: flex;
  justify-content: center;
}

.rooms-card {
  background-color: orange;
  margin-left: 10px;
  width: 20%;
}

.rooms-card h4,
p {
  margin-top: 10px;
}

.rooms-card hr {
  margin: 5px 0px;
  border-style: dashed;
  color: white;
  border-width: 0.1px;
}

/* odalar bitiş */

/* person başlangıç */
.persons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--light);
}

.persons h1 {
  margin-top: 20px;
}

.kisiler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.person img {
  padding: 0 20px;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.person img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* person bitiş */

/* contact başlangıç */
.contact-us {
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  padding: 20px;
}

.contact-gallery {
  flex: 50%;
}

.contac-gallery img {
  width: 100%;
}

.contact-form {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.contact-form .form-control {
  margin-bottom: 15px;
}

.contact-form .form-control label {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

.form-control input {
  width: 100%;
  padding: 15px;
  height: 40px;
  border: 1px solid #f5f5f5;
}

.contact-form .btn {
  margin-top: 10px;
}

.contact-form h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.contact-form button {
  width: 100%;
}

/* contact bitiş */

/* footer başlangıç */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: var(--danger);
}

.footer a:hover {
  opacity: 0.7;
}

.footer .social a {
  margin-right: 10px;
}

/* footer bitiş */

/* responsive */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    font-size: 16px;
  }

  .content p {
    font-size: 300px;
  }
}